<p id="notice"><%= notice %></p>

<h1>Listing Fitnews</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th>Is public</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fitnews.each do |fitnew| %>
      <tr>
        <td><%= fitnew.id %></td>
        <td><%= fitnew.title %></td>
        <td><%= fitnew.content %></td>
        <td><%= fitnew.is_public %></td>
        <td><%= fitnew.user.try(:email) %></td>
        <td><%= link_to 'Show', fitnew %></td>
        <td><%= link_to 'Edit', edit_fitnews_path(fitnew) %></td>
        <td><%= link_to 'Destroy', fitnew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fitnews', new_fitnews_path %>
